.button-area {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
}

main {
  margin-top: 50px;
  padding: 0 20%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left-area {
  margin-top: 100px;
}

.sort-tab-area {
  width: 40%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  background-color: var(--white-100);
  padding-bottom: 50px;
}

.feed {
  margin-top: 80px;
}

.playlist-block {
  margin-top: 50px;
  border: solid 1px var(--gray-300);
  border-radius: 8px;
  padding: 2% 5%;
}

.sort-by {
  width: 100%;
  padding: 3px;
  border-radius: 4px;
  background-color: var(--white-100);
  color: var(--black-100);
  display: flex;
  justify-content: center;
  border: solid 1px var(--black-100);
}

.selected-sort-by {
  background-color: var(--black-100);
  color: var(--white-100);
  display: flex;
  justify-content: center;
  border: none;
}

.right-area {
  margin-top: 100px;
  position: relative;
  margin-left: 20%;
  display: flex;
  justify-content: flex-end;
}

.area-title {
  margin-bottom: 15px;
}

.title-center {
  text-align: center;
}

.spread-button {
  margin-top: 10px;
}

.popular-songs-area {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 250px;
  margin-right: 15%;
  padding: 1%;
  max-width: 300px;
  border: solid 1px var(--gray-300);
  border-radius: 4px;
  min-height: 100px;
  word-wrap: break-word;
}
