* {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 14px;
}

body {
  padding-bottom: 5%;
}

button {
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  height: 150px;
  padding-top: 50px;
  width: 100%;
  background-color: var(--white-100);
}

.header-contents {
  display: grid;
  grid-template-columns: 65% 1fr;
}

.page-title-area {
  display: flex;
  justify-content: flex-end;
}

.page-title {
  margin: 0;
  font-size: 3rem;
}

.button-area {
  display: flex;
  justify-content: center;
}

.home-button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  width: 80px;
  height: 45px;
  display: flex;
  justify-content: center;
  background-color: black;
  /* border: solid 2px black; */
  border-radius: 6px;
  color: var(--white-100);
}

main {
  margin-top: 50px;
  padding: 0 20%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left-area {
  margin-top: 100px;
}

.feed {
  margin-top: 80px;
}

.playlist-block {
  margin-top: 50px;
}

.sort-tab-area {
  position: fixed;
  width: 45%;
  display: flex;
  justify-content: space-around;
  background-color: var(--white-100);
  padding-bottom: 50px;
}

.sort-by {
  width: 100%;
  padding: 3px;
  border-radius: 4px;
  background-color: var(--white-100);
  color: var(--black-100);
  display: flex;
  justify-content: center;
  border: solid 1px var(--black-100);
}

.selected-sort-by {
  background-color: var(--black-100);
  color: var(--white-100);
  display: flex;
  justify-content: center;
  border: none;
}

.right-area {
  position: relative;
  margin-left: 20%;
  display: flex;
  justify-content: flex-end;
}

.area-title {
  margin-bottom: 15px;
}

.title-center {
  text-align: center;
}

.popular-songs-area {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 250px;
  margin-right: 15%;
  padding: 1%;
  max-width: 300px;
  border: solid 1px var(--gray-300);
  border-radius: 4px;
  min-height: 100px;
  word-wrap: break-word;
}
