main {
  height: 100%;
  position: relative;
  margin-top: 180px;
  padding: 0 20%;
}

.my-playlist-title {
  margin: 15px auto;
  text-align: center;
  font-size: 2rem;
}

.create-button-area {
  border: dashed 2px rgba(93, 93, 93, 0.4);
  height: 200px;
  width: 400px;
  border-radius: 8px;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-form {
  display: block;
}

.create-playlist-form-wrapper {
  padding: 20px;
}

.playlist-title {
  margin-top: 10px;
  font-size: 1.2rem;
}

.playlist-title-input {
  margin-top: 10px;
  width: 350px;
  outline: none;
  border: solid 1px var(--gray-300);
  border-radius: 4px;
  padding: 3px;
}

.create-playlist-button {
  background: none;
  outline: none;
  color: rgba(93, 93, 93, 0.4);
}

.my-playlist-feed {
  width: 500px;
  margin: 0 auto;
}

.my-playlist-item {
  margin: 20px 0;
  padding: 4px;
  display: grid;
  grid-template-columns: 3fr 75px 75px;
}

.area-title {
  font-size: 17px;
}

.modal-header {
  border: none;
}

.create-playlist-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button.save-playlist {
  margin-top: 20px;
  border-radius: 6px;
  font-size: 1.1rem;
  min-height: 45px;
  padding: 1px 13px;
  background-color: var(--black-100);
  color: var(--white-100);
}

.save-playlist {
  margin-left: 290px;
}

.modal-area {
  position: fixed;
  right: 0;
  top: 0;
  padding: 17px 12px;
  margin-top: 200px;
  margin-right: 20%;
  min-width: 250px;
  min-height: 120px;
  border: solid 1px var(--gray-300);
  border-radius: 4px;
}

#input-search {
  border: solid 1px var(--gray-300);
  border-radius: 4px;
  padding: 4px;
  margin-top: 10px;
  width: 200px;
}

button.search-song-button {
  background-color: var(--black-100);
  color: var(--white-100);
  border-radius: 4px;
  padding: 4px 8px;
}
