main {
  height: 100%;
  position: relative;
  margin-top: 150px;
  padding: 0 20%;
}

.create-playlist-button {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 100px;
  margin-bottom: 100px;
  background: none;
  outline: none;
}
