main {
  height: 100%;
  position: relative;
  margin-top: 150px;
  padding: 0 20%;
}

.create-button-area {
  border: dashed 2px rgba(93, 93, 93, 0.4);
  height: 200px;
  width: 400px;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-playlist-button {
  background: none;
  outline: none;
  color: rgba(93, 93, 93, 0.4);
}
