<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Roboto&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/global-color.css">
  <link rel="stylesheet" href="/static/home.css" />
  <script src="https://cdn.tailwindcss.com">
  </script>
  <title>우플리</title>
</head>

<body>
  <header>
    <div class="header-contents">
      <div class="page-title-area">
        <h1 class="page-title">
          우리들의 플레이 리스트
        </h1>
      </div>
      <div class="button-area">
        <a href="/login" class="home-button-login">
          로그인
        </a>
      </div>
    </div>
  </header>

  <main>
    <secion class="left-area">
      <div class="sort-tab-area">
        <button class="sort-by by-time selected-sort-by">
          시간순
        </button>
        <button class="sort-by by-random">
          랜덤
        </button>
      </div>
      <div class="feed">
        <div class="playlist-block">
          <p class="area-title">플레이리스트 제목 by 유저네임</p>
          <p>1. After LIKE - IVE(아이브)</p>
          <p>2. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
          <p>3. Attention - NewJeans</p>
          <button>펼쳐보기</button>
        </div>
        <div class="playlist-block">
          <p class="area-title">플레이리스트 제목 by 유저네임</p>
          <p>1. After LIKE - IVE(아이브)</p>
          <p>2. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
          <p>3. Attention - NewJeans</p>
          <button>펼쳐보기</button>
        </div>
        <div class="playlist-block">
          <p class="area-title">플레이리스트 제목 by 유저네임</p>
          <p>1. After LIKE - IVE(아이브)</p>
          <p>2. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
          <p>3. Attention - NewJeans</p>
          <button>펼쳐보기</button>
        </div>
        <div class="playlist-block">
          <p class="area-title">플레이리스트 제목 by 유저네임</p>
          <p>1. After LIKE - IVE(아이브)</p>
          <p>2. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
          <p>3. Attention - NewJeans</p>
          <button>펼쳐보기</button>
        </div>
        <div class="playlist-block">
          <p class="area-title">플레이리스트 제목 by 유저네임</p>
          <p>1. After LIKE - IVE(아이브)</p>
          <p>2. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
          <p>3. Attention - NewJeans</p>
          <button>펼쳐보기</button>
        </div>
        <div class="playlist-block">
          <p class="area-title">플레이리스트 제목 by 유저네임</p>
          <p>1. After LIKE - IVE(아이브)</p>
          <p>2. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
          <p>3. Attention - NewJeans</p>
          <button>펼쳐보기</button>
        </div>
        <div class="playlist-block">
          <p class="area-title">플레이리스트 제목 by 유저네임</p>
          <p>1. After LIKE - IVE(아이브)</p>
          <p>2. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
          <p>3. Attention - NewJeans</p>
          <button>펼쳐보기</button>
        </div>
        <div class="playlist-block">
          <p class="area-title">플레이리스트 제목 by 유저네임</p>
          <p>1. After LIKE - IVE(아이브)</p>
          <p>2. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
          <p>3. Attention - NewJeans</p>
          <button>펼쳐보기</button>
        </div>
        <div class="playlist-block">
          <p class="area-title">플레이리스트 제목 by 유저네임</p>
          <p>1. After LIKE - IVE(아이브)</p>
          <p>2. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
          <p>3. Attention - NewJeans</p>
          <button>펼쳐보기</button>
        </div>
        <div class="playlist-block">
          <p class="area-title">플레이리스트 제목 by 유저네임</p>
          <p>1. After LIKE - IVE(아이브)</p>
          <p>2. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
          <p>3. Attention - NewJeans</p>
          <button>펼쳐보기</button>
        </div>
        <div class="playlist-block">
          <p class="area-title">플레이리스트 제목 by 유저네임</p>
          <p>1. After LIKE - IVE(아이브)</p>
          <p>2. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
          <p>3. Attention - NewJeans</p>
          <button>펼쳐보기</button>
        </div>
      </div>
    </secion>
    <secion class="right-area">
      <div class="popular-songs-area">
        <p class="area-title title-center">가장 많이 담긴 곡</p>
        <p>1. After LIKE - IVE(아이브)</p>
        <p>2. Pink Venom - BLACKPINK</p>
        <p>3. 새삥 (Prod. ZICO) (Feat. 호미들) - 지코 (ZICO)</p>
        <p>4. --</p>
        <p>5. --</p>
        <p>6. --</p>
        <p>7. --</p>
        <p>8. --</p>
        <p>9. --</p>
        <p>10. --</p>
      </div>
    </secion>
  </main>
  <script type="text/javascript" src="/static/home.js"></script>
  <script>

    $(document).ready(function () {
      $("#list-box").html("");
      showAllplaylists();
    });

    function showAllplaylists() {
      $.ajax({
        type: "GET",
        url: "/list/all",
        data: {},
        success: function (response) {
          if (response["result"] == "success") {

            console.log(list_a);
            
            for (let i = 0; i < list_a.length; i++) {
              makeCard(list_a[i]["song_number"], list_a[i]["song_name"]);
            }
          }
        }
      })
    }

    function makeList(song_number, song_name) {
      let tempHtml = `<div class="card">
                        <img class="card-img-top" src="${any}" alt="Card image cap">
                        <div class="card-body">
                        <a href="${any}" target="_blank" class="card-title">${any}</a>
                        <p class="card-text">${any}</p>
                        <p class="card-text comment">${any}</p>
                        </div>
                    </div>`;
      $("#cards-box").append(tempHtml);

    }

    function addPlaylist() {
      let user = $("#add-user").val();
      let title = $("#add-playlist").val();

      
      $.ajax({
        type: "POST", 
        url: "/add/playlist", 
        data: { user_give: user, title_give: title }, 
        success: function (response) { // 성공하면
          if (response["result"] == "success") {
            alert("포스팅 성공!");
            // 3. 성공 시 페이지 새로고침하기
            window.location.reload();
          } else {
            alert("다시 입력하세요!")
          }
        }
      })
    }


  </script>
</body>

</html>