<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Roboto&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/global-color.css">
  <link rel="stylesheet" href="/static/home.css" />
  <script src="https://cdn.tailwindcss.com">
  </script>
  <title>우플리</title>
</head>

<body>
  <header>
    <div class="page-title-area">
      <h1 class="page-title">
        우리들의 플레이 리스트
      </h1>
    </div>
    <button class="home-button-login">로그인 </button>
  </header>
  </header>
  <main>
    <secion class="feed">
      플레이리스트 by 유저네임
    </secion>
    <secion class="right-box">

    </secion>
  </main>
</body>

</html>