<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Roboto&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/global-color.css">
  <link rel="stylesheet" href="/static/global-style.css" />
  <link rel="stylesheet" href="/static/myplaylist.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <script src="https://kit.fontawesome.com/22dd7848de.js" crossorigin="anonymous"></script>
  <title>우플리</title>
</head>

<body>
  <header>
    <div class="header-contents">
      <div class="page-title-area">
        <h1 class="page-title">
          우리들의 플레이 리스트
        </h1>
      </div>
      <div class="button-area">
        <a href="/login" class="home-button-login">
          로그인
        </a>
      </div>
    </div>
  </header>



  <script type="text/javascript" src="/static/myplay-api.js"></script>
</body>

</html>